{% load staticfiles %}

<html>
    <head>
        <title>April's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    	<div class="page-header">
        	<img src="{% static 'icon.png' %}" alt="Checkmark image" height="90" width="90"/>
        	<h1><a href="/">Check List</a></h1>
			<h1><a href="{% url 'home' %}" style="color:#b01313">Home</a></h1>
			<h1><a href="{% url 'explore' %}" style="color:#b01313">Explore</a></h1>
			<h1><a href="{% url 'profile_user' user.username %}" style="color:#b01313">Profile</a></h1>
			<h1><a href="{% url 'logout' %}" style="color:#b01313">Logout</a></h1>
    	</div>
    	
		<div>
			<img src="{{ user.model_pic }}" alt="User image" height="90" width="90"/>
			<h3>{{ user.first_name }} {{ user.last_name }}</h3>
			<h3>{{ user.email }}</h3>
		</div>
  		
  		<!--PicApril-->
		<form action="{% url 'upload_pic' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    		<p>
        		<input id="id_image" type="file" class="" name="image">
    		</p>
    		<input type="submit" value="Submit" />
		</form>
  		
    	<footer>
  			<p>About</p>
  			<p>© 2018 Check List</p>
		</footer>
	</body>
</html>