{% load staticfiles %}

<html>
    <head>
        <title>April's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    	<div class="page-header">
        	<img src="{% static 'icon.png' %}" alt="Checkmark image" height="90" width="90"/>
        	<h1><a href="/">Check List</a></h1>
    	</div>
    	
		<div class="signupform">
			<h2>Sign up</h2>
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
					<p>
						{{ field.label_tag }}<br>
						{{ field }}
						{% for error in field.errors %}
							<p style="color: red">{{ error }}</p>
						{% endfor %}
					</p>
				{% endfor %}
				 <button type="submit">Sign up</button>
				 <h3>Already a member? <a href="{% url 'login' %}" style="color: #828282; font-size: 13pt;">login</a></h3>
			</form>
		</div>
  		
    	<footer>
  			<p>About</p>
  			<p>© 2018 Check List</p>
		</footer>
	</body>
</html>